.master_container {
    position: relative;
    width: 860px;
    margin: 6rem auto;
    padding: 2.5rem;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
}

.titleArea {
    border-bottom: 1px solid #ebecef;
    padding-bottom: 20px;
}

#txtTitle {
    margin-bottom: 20px;
}

.writerInfo {
    position: relative;
    display: flex;
}

.profileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.nickname {
    margin-right: 6px;
    font-size: 13px;
    font-weight: 700;
}

.profileAreaLower {
    font-size: 13px;
    color: #979797;
}

#postImage {
    margin: 0 auto;
}