.master_container {
    position: relative;
    width: 860px;
    margin: 6rem auto;
    padding: 4rem 2.5rem;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
}

.titleArea {
    position: relative;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 20px;
}

#divi {
    font-size: 13px;
    font-weight: 700;
    color: #0DCAF0;
    margin-bottom: 5px;
}

#txtTitle {
    margin-bottom: 25px;
}

.writerInfo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profileArea {
    flex-grow: 1;
}

.profileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.nickname {
    margin-right: 6px;
    font-size: 14px;
    font-weight: 700;
}

.profileAreaLower {
    font-size: 13px;
    color: #979797;
}

.regDate {
    margin-right: 5px;
}

#postImage {
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: 40px auto;
}

.mybtn {
    margin-left: 5px;
    font-weight: 700;
}

#pinImg {
    width: 16px;
    height: 21px;
    margin-right: 5px;
    filter: invert(65%) sepia(88%) saturate(1529%) hue-rotate(142deg) brightness(97%) contrast(93%);
}

#cafeAddress {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-weight: 700;
    margin: 30px auto 15px;
    color: #0DCAF0;
}

.map-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#map {
    display: flex;
    width: 778px;
    height:250px;
    box-sizing: border-box;
    border-radius: 8px;
}