.master_container {
    position: relative;
    width: 860px;
    margin: 6rem auto 2rem;
    padding: 4rem 2.5rem;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
}

.titleArea {
    position: relative;
    flex-grow: 1;
    height: 100%;
}

#divi {
    margin: 0 10px 10px 0;
    height: 38px;
}

.writerInfo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profileArea {
    flex-grow: 1;
}

.profileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.nickname {
    margin-right: 6px;
    font-size: 14px;
    font-weight: 700;
}

.profileAreaLower {
    font-size: 13px;
    color: #979797;
}

.regDate {
    margin-right: 5px;
}

#postImage {
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: 40px auto;
}

#pinImg {
    width: 16px;
    height: 21px;
    margin-right: 5px;
    filter: invert(65%) sepia(88%) saturate(1529%) hue-rotate(142deg) brightness(97%) contrast(93%);
}

#cafeAddress {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-weight: 700;
    margin: 30px auto 15px;
    color: #0DCAF0;
}

.map-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.map-container #map {
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    border-radius: 8px;
    display: block;
}

/*** 여기부터 update ***/
.titleSet {
    display: flex;
}

.myselect {
    width: 20%;
    height: 100%;
}

#txtTitle,
#txtContent {
    border-radius: 0.375rem;
}

#txtTitle {
    height: 38px;
}

#txtContent {
    resize: none;
}

.btnSet {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto 6rem;
}

#btnUpdate {
    margin-left: 15px;
}




/* 여기부터 create 페이지 */

.previewBox {
    width: 100%;
    height: 200px;
    border-radius: 0.375rem;
    object-fit: cover;
    background-color: #f8f9fa;
    border: none;
}

#btnInsert {
    margin-left: 15px;
}

.imgMapArea {
    position: relative;
    margin-top: 1rem;
}

.imgArea {
    position: relative;
}

#uploadForm {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#popupBtn {
    display: block;
    margin: 1rem auto 0;
}



/******************** 모달 팝업창 ********************/
/* 버튼을 감싸는 영역 */
#btnWrap {
    display: flex;
    justify-content: center; /* 가로 방향 가운데 정렬 */
    width: 500px;
    margin: 15px auto;
}

/* 모달팝업을 감싸고 있는 최상위 부모 */
    #modalWrap {
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display : none;
}

#modalBody {
    width: 600px;
    height: 660px;
    padding: 30px 30px;
    margin: 0 auto;
    border: none;
    border-radius: 8px;
    background-color: #fff;
}

#topContainer {
    display: flex;
    align-items: center;
    width: 600px;
}

.modalText {
    flex: 1; /* 남은 공간을 차지하도록 설정 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    font-weight: bold;
}

/* 닫기 버튼 */
.btn-close {
    margin-left: auto; /* 버튼을 오른쪽으로 밀어내 모달 내부에 위치 */
    margin-right: 60px; /* 오른쪽 여백 제거 */
}

/* 등록 버튼 div */
.inputMap {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    height: 80px; /* 부모 요소의 높이를 화면 높이와 동일하게 설정 (선택사항) */
}

/* 등록 버튼 */
.inputBtn {
    width: 80px;
    padding: 12px;
    margin-top:10px;
}

.searchbox {
    display: flex; /* Flex 레이아웃 적용 */
    align-items: center; /* 수직 중앙 정렬 */
}

/* 주소 검색창 */
.myform {
    margin-top: 15px;
    margin-right: 5px; /* 인풋박스와 버튼 사이 간격 */
    width: 450px; /* 필요한 만큼의 너비를 사용 */
}

/* 검색 버튼 */
.search-btn {
    height: 50px;
    width: 120px; /* 원하는 너비로 설정 */
    text-align: center;
}

#mapValue {
    color: #fcfdfd;
}

#mapList {
    color: #fcfdfd;
}

/* 모달창 지도 */
#map {
    width: 540px;
    height: 400px;
    border-radius: 7px;
}