.master_container {
    position: relative;
    width: 860px;
    margin: 6rem auto 2rem;
    padding: 4rem 2.5rem;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
}

.titleArea {
    position: relative;
    flex-grow: 1;
    height: 100%;
}

#divi {
    margin: 0 10px 10px 0;
    height: 38px;
}

.writerInfo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profileArea {
    flex-grow: 1;
}

.profileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.nickname {
    margin-right: 6px;
    font-size: 14px;
    font-weight: 700;
}

.profileAreaLower {
    font-size: 13px;
    color: #979797;
}

.regDate {
    margin-right: 5px;
}

#postImage {
    margin: 0 auto;
}

#pinImg {
    width: 16px;
    height: 21px;
    margin-right: 5px;
    filter: invert(65%) sepia(88%) saturate(1529%) hue-rotate(142deg) brightness(97%) contrast(93%);
}

#cafeAddress {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-weight: 700;
    margin: 30px auto 15px;
    color: #0DCAF0;
}

#postImage {
    max-width: 900px;
    max-height: 500px;
}

.map-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#map {
    width: 100%;
    height:250px;
    box-sizing: border-box;
    border-radius: 8px;
    display: block;
}

/*** 여기부터 update ***/
.titleSet {
    display: flex;
}

.myselect {
    width: 20%;
    height: 100%;
}

#txtTitle,
#txtContent {
    border-radius: 0.375rem;
}

#txtTitle {
    height: 38px;
}

#txtContent {
    resize: none;
}

.btnSet {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto 6rem;
}

#btnUpdate {
    margin-left: 15px;
}
